body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 2px red;
}

.website-header {
  display: flex;
  justify-content: center;
}

/* .data-container {
  display: flex;
  ;
} */
.trips-section {
  display: flex;
  justify-content: space-around;
}

.trips {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.all-trips-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.card-image {
  border-radius: 5px;
  height: 20vh;
  margin-bottom: 15%;
  margin-left: 8%;
  margin-top: 8%;
  width: 17vw;
}
.trip-card-template {
  display: grid;
  justify-items: center
}

/* .pending-trips {
  display:flex;
  flex-direction: column;
} */