* {
  border: solid 2px rgb(11, 237, 71);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.website-header {
  display: flex;
  justify-content: space-around;
}

.header-welcome {
  display:flex
}
/* .request-trip-estimated-cost {
  margin: 10px;
} */
.traveler-request {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: stretch;
}

.trips-section {
  display: flex;

  justify-content: space-around;
}

.all-trips-section,
.past-trips-section,
.pending-trips-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trips {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center
}



.card-image {
  border-radius: 5px;
  height: 20vh;
  margin: 15% 0 0 8%;
  width: 17vw;
}
.trip-card-template {
  display: flex;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

/* .pending-trips {
  display:flex;
  flex-direction: column;
} */